<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="TON Logo"
      src="../assets/images/Logo_TON.svg" />
  <span>BANAH</span>

  <div class="home-button">
    <button mat-fab color="warn" [ngStyle]="{transform: 'scale(0.8)'}" routerLink="./">
      <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="home"></mat-icon>
    </button>
  </div>
</div>


  <router-outlet></router-outlet>

<div class="footer" role="banner">
 <div class="footer-author">
    <span>Autor: </span>
 </div>
</div>
