<!-- Toolbar -->
<div class="toolbar justify-content-between" role="banner">
  <div>

    <img width="70" alt="TON Logo"
        src="../assets/images/Logo_TON.png" />
    <span>BANAH</span>
  </div>

  <div class="home-button">
    <button class="btnHome" routerLink="./">
      <img src="../assets/images/home.svg" class="homeButton" />

    </button>
  </div>
</div>


  <router-outlet></router-outlet>

<div class="footer" role="banner">
 <div class="footer-author">
    <span>Autor: </span>
 </div>
</div>
