.home-button{
    position: absolute;
    left: 95%;
}
section {
  width: 100%
}

.footer{
    display: flex;
    justify-content: center;
}

.input-info{
    margin-bottom: 20px;
}

.radio-buttons{
    margin-top: 5%;
}

button:focus { outline: none !important;;}