<section class="questions-section">
  <div class="questions-wrapper">
    <form [formGroup]="form">
      <div *ngIf="questions">
        <div *ngFor="let question of questions; let i = index">
          <p>{{question.question}}</p>
          <mat-radio-group aria-label="Select an option" [formControlName]="i">
            <mat-radio-button *ngFor="let answer of question.answers" [value]="answer">{{answer}}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="submit()" [disabled]="formCompletedMsg">Sprawdź quiz</button>
    </form>

    <p *ngIf="formCompletedMsg">{{formCompletedMsg}}</p>
  </div>
</section>
