*{
    margin: 0;
}
.questions-section {
  max-width:800px;
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 auto 0 auto;
}
.quiz-download-btn{
  margin-top: 14vh;
  position: absolute;
  right: 40px;
}

:root {
  --mdc-protected-button-label-text-color: red;
  --mdc-radio-selected-icon-color: red !important;
}

.btnGenerate {
  /* background-color: #dc143c; */
  /* background-color: var(--mdc-protected-button-label-text-color) !important; */
  background-color: red !important;
  color: white !important;
}

.btnGenerate.mat-mdc-raised-button:not(:disabled) {
  /* background-color: var(--mdc-protected-button-label-text-color); */
  background-color: red !important;
}

.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
  border-color: red !important;
}

:root {
  --mdc-protected-button-label-text-color: red;
  --mdc-radio-selected-icon-color: red !important;
}

.btnGenerate {
  /* background-color: #dc143c; */
  /* background-color: var(--mdc-protected-button-label-text-color) !important; */
  background-color: red !important;
  color: white !important;
}

.btnGenerate.mat-mdc-raised-button:not(:disabled) {
  /* background-color: var(--mdc-protected-button-label-text-color); */
  background-color: red !important;
}
