<button class="btn btn-primary quiz-download-btn" (click)="exportAsPDF('questions')">Pobierz PDF</button>
<section class="questions-section">
  <div class="questions-wrapper">
    <form [formGroup]="form">
      <div id="questions">
        <div *ngIf="questions">
          <div *ngFor="let question of questions; let i = index">
            <p class="question-section">{{i+1}}. {{question.question}}</p>
            <mat-radio-group aria-label="Select an option" [formControlName]="i">
              <mat-radio-button *ngFor="let answer of question.answers" [value]="answer">{{answer}}</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="submit()" [disabled]="formCompletedMsg">Sprawdź quiz</button>
    </form>

    <p *ngIf="formCompletedMsg">{{formCompletedMsg}}</p>
  </div>
</section>
