  <!-- <div class="home-button">
    <button mat-fab color="warn" [ngStyle]="{transform: 'scale(0.8)'}">
      <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="home"></mat-icon>
    </button>
  </div> -->

<div class="content" role="main">
  <!-- input file -->
  <section>
    <div class="row">
      <div class="input-info col-12">
        <h4>Wprowadź słowo kluczowe</h4>
      </div>
      <div class="col-12 col-md-6">
        <form class="example-form" (ngSubmit)="onSubmit()">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Słowa kluczowe" [(ngModel)]="searchedValue" name="searchedValue">
          </mat-form-field>
          <div class="col-12 col-md-6 radio-buttons">
            <mat-radio-group aria-label="Select an option" color="accent" id="accentColor"
            [(ngModel)]="level" name="level">
              <div>
                <mat-radio-button value="1" [checked]="true" color="accent">Łatwy (5 pytań)</mat-radio-button>
              </div>
              <div>
                <mat-radio-button value="2" color="accent">Średni (10 pytań)</mat-radio-button>
              </div>
              <div>
                <mat-radio-button value="3" color="accent">Trudny (20 pytań)</mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
          <div>
            <button type="submit" mat-raised-button class="btnGenerate">Generuj</button>
          </div>
        </form>
      </div>
      <!-- radiobox -->
      
    </div>
  </section>
  <div *ngIf="isLoading" class="loader"></div>
</div>
